[Unit]
Description=Antigravity Security Department Gunicorn Suite
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/tserver/security_dept
ExecStart=/home/tserver/security_dept/venv/bin/gunicorn config.wsgi:application -c /home/tserver/security_dept/gunicorn.conf.py
Restart=always
RestartSec=5
StandardOutput=append:/home/tserver/security_dept/logs/systemd_out.log
StandardError=append:/home/tserver/security_dept/logs/systemd_err.log

[Install]
WantedBy=default.target
